/* =========== 背景樣式 =========== */

/*
<link rel="stylesheet" href="${pageContext.request.contextPath}/css/error.css">
*/


body.error-page {
    background-image: url('../images/error/error2.png');
    background-size: 45% auto;
    background-position: 50% 80px;
    background-repeat: no-repeat;
    background-color: #f7f3ed;
    display: flex; /*  flex 容器 */
    justify-content: center; /* 水平置中 */
    align-items: flex-start; /* 垂直靠上 */
    height: 100vh; /* 視口高度 */
}

.error-container {
    display: flex;
    flex-direction: column;
    text-align: center; /* 文本置中 */
    padding-top: 20px; /* 頂部間距 */
}